.slideshow {
  text-align: center;
  box-shadow: 1px greenyellow;
  border: 1px solid;
  margin: 30px 90px;
  height: 400px;
}

.about {
  display: flex;
  flex-direction: row;
  gap: 40px;
  box-shadow: 1px greenyellow;
  margin: 30px 90px;
  height: 200px;
}

.about > .history-text {
  box-shadow: 1px greenyellow;
  border: 1px solid;
  height: 200px;
  width: 850px;
}

.about > .image {
  text-align: center;
  box-shadow: 1px greenyellow;
  border: 1px solid;
  height: 200px;
  width: 19em;
}
